@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hans {
  top: -3px !important;
  right: 10px !important;
  cursor: pointer;
}

.menu-wrapper .logo {
  padding-top: 30px;
}

@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgb(209, 135, 135);
  }
  100% {
    background-color: white;
  }
}

.blinking-card {
  animation: blink 1s infinite; /* Adjust duration and iteration as needed */
}

.emailModal .ant-modal-content {
  PADDING: 20px 0px 0px;
  width: 720px !important
}

.emailModal .ant-modal-content .ant-modal-header {
  padding-left: 20px;
}

.emailModal .ant-modal-content .ant-card-body {
  padding: 0px;
}

.emailModal .ant-modal-content .XYZ {
  padding: 0px 0px 30px !important;
}

.emailModal .ant-modal-content .ant-row.ant-row-start {
  width: 100%;
}

.emailModal .ant-modal-content .ant-col.ant-col-16 {
  width: 100%;
}

.emailModal .ant-modal-content .ant-row.ant-row-start>div {
  width: 100% !important;
  max-width: 100% !important;
  flex: 100% !important;
  padding-bottom: 0px !important;
}

.emailModal .ant-modal-content .ant-row.ant-row-start>div span {
  font-size: 13px !important;
}

.emailModal .ant-modal-content .ant-row.ant-row-start>div h1 {
  font-size: 18px !important;
}
.footer-email {
  background: #70bbd9;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.social-link {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link a {
  color: #fff;
  border: 1px solid;
  padding: 7px;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
}
.footer-email p {
  font-size: 12px;
  margin: 0px;
  padding: 0pc;
}
.pearl_card_divider .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
}
/* Ensure the Select component has the correct text and background color */
.custom-select {
  color: #000000; /* Default text color */
  background-color: rgb(187, 181, 181); /* Default background color */
}

/* When status is High-Potential Leads */
.custom-select.priority {
  color: rgb(14, 110, 49); /* Light Green */
  background-color: rgb(207, 231, 211); /* Light Green background */
}

/* When status is Potential Leads */
.custom-select.potential {
  color: rgb(147, 96, 11); /* Yellow */
  background-color: rgb(239, 233, 201); /* Light Yellow background */
}

/* When status is Suspect Leads */
.custom-select.non_potential {
  color: rgb(201, 28, 28); /* Red */
  background-color: rgb(235, 222, 222); /* Light Red background */
}

/* Other status colors */
.custom-select.call_lead {
  color: #3B82F6; /* Blue */
  background-color: #BFDBFE; /* Light Blue background */
}

.custom-select.mail {
  color: #007BFF; /* Purple */
  background-color: rgb(201, 214, 227); /* Light Purple background */
}

.custom-select.sms {
  color: #6f42c1; /* Orange */
  background-color: #e1dde9; /* Light Orange background */
}

/* Optional: Style options to reflect their color */
.custom-select .ant-select-item-option {
  color: inherit; /* Inherit color from parent */
  background-color: inherit; /* Inherit background color from parent */
}
